html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 400px;*/
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box, .login-box .user-box2 {
    position: relative;
}

.user-box {
    margin-bottom: 30px;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;

    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box2 input {
    color: #fff;
    outline: none;
    border-bottom: none;
}

.login-box .user-box2 label {
    top: 0;
    left: 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box label {
    position: absolute;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.button {
    padding: 10px 20px;
    color: #03e9f4;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 5px;
    /*opacity: 0.5;*/
}

.button_style {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.button_style span {
    position: absolute;
    display: block;
}

.button_style span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.button_style span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.button_style span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.button_style span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}


/*------------------only feedback form*/
#emoji {
    text-align: center;
    font-size: 65px;
}

.user-box2 {
    height: 350px;
}

.question_part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first_part {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    height: 300px;
    padding: 10px 20px;
}

.second_part {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    height: 300px;
    padding: 10px 20px;
}

.third_part {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    height: 300px;
    padding: 10px 20px;
}

.button_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    position: absolute;
    left: 40%;
}

.buttons .button_style {
    margin-top: 25px;
    margin-right: 50px;
}

