html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    max-width: 1200px;
    max-height: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

#form-box {
    padding-bottom: 80px;
 }

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box, .login-box .user-box2 {
    position: relative;
}

.user-box {
    margin-bottom: 10px;
}


.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box2 input {
    outline: none;
    border-bottom: none;
}

.login-box .user-box2 label {
    top: 0;
    left: 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.user-box2 > p {
    color: #03e9f4;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 5px;
}

.login-box .user-box label {
    position: absolute;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
#failmsg{
    color:red;
    margin-bottom: 10px;
}
.button,#button_delete, #button_help {
    padding: 10px 20px;
    color: limegreen;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 5px;
}

.button_style {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.button:hover {
    background: limegreen;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px lawngreen,
    0 0 25px limegreen,
    0 0 50px limegreen,
    0 0 100px limegreen;
}

.button_style span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/*------------------only feedback form*/
#emoji {
    text-align: center;
    font-size: 65px;
}

.user-box2 {
    height: 350px;
}

.question_part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#smaller_box{
    width: 60px;
}
.form_part {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    height: 300px;
    padding: 10px 20px;
}

.button_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons {
    position: absolute;
    left: 40%;
    margin-top: 15px;
}
.buttons .button_style{
    margin-top: 25px;
    margin-right: 50px;
}
#button_delete{
    color: red;
}
#button_help{
    color: #03e9f4;
}
#button_help:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
#button_delete:hover {
    background: red;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}
p{
    color: #03e9f4;
}

